[Desktop Entry]
Name=Enroll
Comment=Manage fingerprints
Comment[cs]=Správa otisků prstů
Type=Application
Icon=org.cosmic_utils.enroll
Exec=cosmic-utils-enroll %F
Terminal=false
StartupNotify=true
Categories=Utility;System;
Keywords=Fingerprint;Security;
Keywords[cs]=Otisky prstů;Zabezpečení;Biometrie;
MimeType=
